@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3/shared";
@import "compass/css3/border-radius";


@import "partials/colors";

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: $scb-font;
  vertical-align: baseline;
  padding-left: 10px;
}

.cbwrapper
{
	
	padding:0px; 
	margin:0px; 
	border:0px; 
	position:relative;
	font-family: $scb-font;

}

.inputbox
{
	display: inline-block;
	@include border-bottom-left-radius(.5em); 
	float: left;
	margin: 0px;
	height: 1em;
	background-color: white;
	padding: 3px;
	line-height: 1em;
	font-size: inherit;
	padding-left: 5px;
	border: solid 1px silver;
	margin-right: 1px;	
}


.ie7 .inputbox
{

	padding-left: 0px;
}

.dropdown { 

	display: block;
	float: left;
	@include border-top-right-radius(.5em); 
	width: 1em;
	height: 1em;

	background-color: silver;
	padding:3px;
	border-top: solid 1px silver;
	border-bottom: solid 1px $scb-border;
	cursor: pointer;
	cursor: hand;
	}

.arrow-S {
	display: block;
	position: relative;
	margin: 0;
	top: .25em;
	
	border-top: .5em solid white;
	border-left: .5em solid transparent;
	border-right: .5em solid transparent;
	border-bottom: none;
}

/* assumes modernizr */
.ie6 .arrow-S {
	/* ie6 transparent fix */
	/*_border-right-color: pink;*/
	border-left-color: pink;
	border-right-color: pink;
	filter: chroma(color=pink);
}

.dropdownlist {

	@include border-top-left-radius(.5em); 
	@include border-bottom-right-radius(.5em); 
	overflow-y: scroll;
	overflow-x: hidden;
	margin-top: 2px; 
	display:none; 
	padding:2px; 
	float:left; 
	position:relative;
	border:solid 1px $scb-border;
	height:150px;
	z-index: 1000;

	.highlighted {
		background-color: change-color($scb-highlight, $lightness: 90%);
		border: solid 1px transparent;
		@include border-radius(.25em);
	}

	.selected {
		background-color: change-color($scb-highlight, $lightness: 40%);
		border: solid 1px transparent;
		@include border-radius(.25em);	
		color: white;
	}

	

	}

.dropdownitem {
	position: relative; 
	float: left; 
	clear: left; 
	list-style-type: none;
	line-height:1;
	margin-top: 1px; 
	padding: 2px; 
	margin-left: 0px;
	padding-left: 2px;
	width: 100%;
	white-space:nowrap; 
	margin-bottom:1px;
	cursor: pointer;
	cursor: hand;
}
