/* line 17, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
	Cut/Paste into controls sass file to 
	redifine colors to support more granular customization

$jp-<controlcode>-color-brand : $jp-color-brand;
$jp-<controlcode>-color-context : $jp-color-context;
$jp-<controlcode>-color-text : $jp-color-text;
$jp-<controlcode>-color-accent : $jp-color-accent;
$jp-<controlcode>-color-alert : $jp-color-alert;

$jp-<controlcode>-color-border : $jp-color-border;
$jp-<controlcode>-color-background : $jp-color-background;
*/
/*
	redifine colors to support more granular customization
*/
/* line 26, C:/Users/JamieP/Personal/Projects/jamespritz/GitHub/Simple-Combo-Box/sass/simple-combo-box.scss */
ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Verdana, "Lucida Grande", FreeSans, sans-serif;
  vertical-align: baseline;
  padding-left: 10px;
}

/* line 39, C:/Users/JamieP/Personal/Projects/jamespritz/GitHub/Simple-Combo-Box/sass/simple-combo-box.scss */
.cbwrapper {
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: relative;
  display: inline-block;
  font-family: Verdana, "Lucida Grande", FreeSans, sans-serif;
}

/* line 51, C:/Users/JamieP/Personal/Projects/jamespritz/GitHub/Simple-Combo-Box/sass/simple-combo-box.scss */
.inputbox {
  display: inline-block;
  -moz-border-radius-bottomleft: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  float: left;
  margin: 0px;
  height: 1em;
  background-color: white;
  padding: 3px;
  line-height: 1em;
  font-size: inherit;
  padding-left: 5px;
  border: solid 1px #999999;
  margin-right: 1px;
}

/* line 68, C:/Users/JamieP/Personal/Projects/jamespritz/GitHub/Simple-Combo-Box/sass/simple-combo-box.scss */
.ie7 .inputbox {
  padding-left: 0px;
}

/* line 73, C:/Users/JamieP/Personal/Projects/jamespritz/GitHub/Simple-Combo-Box/sass/simple-combo-box.scss */
.dropdown {
  display: block;
  float: left;
  -moz-border-radius-topright: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
  width: 1em;
  height: 1em;
  background-color: #cccccc;
  padding: 3px;
  border-top: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc;
  cursor: pointer;
  cursor: hand;
}

/* line 89, C:/Users/JamieP/Personal/Projects/jamespritz/GitHub/Simple-Combo-Box/sass/simple-combo-box.scss */
.arrow-S {
  display: block;
  position: relative;
  margin: 0;
  top: .25em;
  border-top: 0.5em solid white;
  border-left: .5em solid transparent;
  border-right: .5em solid transparent;
  border-bottom: none;
}

/* assumes modernizr */
/* line 102, C:/Users/JamieP/Personal/Projects/jamespritz/GitHub/Simple-Combo-Box/sass/simple-combo-box.scss */
.ie6 .arrow-S {
  /* ie6 transparent fix */
  /*_border-right-color: pink;*/
  border-left-color: pink;
  border-right-color: pink;
  filter: chroma(color=pink);
}

/* line 110, C:/Users/JamieP/Personal/Projects/jamespritz/GitHub/Simple-Combo-Box/sass/simple-combo-box.scss */
.dropdownlist {
  -moz-border-radius-topleft: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 2px;
  display: none;
  padding: 2px;
  background-color: white;
  padding: 2px;
  margin-top: 9px;
  top: 1em;
  position: absolute;
  left: 0px;
  border: solid 1px #999999;
  height: 150px;
  z-index: 1000;
}
/* line 129, C:/Users/JamieP/Personal/Projects/jamespritz/GitHub/Simple-Combo-Box/sass/simple-combo-box.scss */
.dropdownlist .highlighted {
  background-color: #e6a77f;
  border: solid 1px transparent;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
}
/* line 135, C:/Users/JamieP/Personal/Projects/jamespritz/GitHub/Simple-Combo-Box/sass/simple-combo-box.scss */
.dropdownlist .selected {
  background-color: #cb6828;
  border: solid 1px transparent;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  color: white;
}

/* line 146, C:/Users/JamieP/Personal/Projects/jamespritz/GitHub/Simple-Combo-Box/sass/simple-combo-box.scss */
.dropdownitem {
  position: relative;
  float: left;
  clear: left;
  list-style-type: none;
  line-height: 1;
  margin-top: 1px;
  padding: 2px;
  margin-left: 0px;
  padding-left: 2px;
  width: 100%;
  white-space: nowrap;
  margin-bottom: 1px;
  cursor: pointer;
  cursor: hand;
}
